body {
  margin: 0;
  background-image: url(i_4.jpg);
  background-position: 0 50 0 0 ;
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
  opacity: 0.2;
}

#polina:hover{
    opacity: 1;
    background: black;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

#fatoumata { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 50%;
  margin:2rem;
  position: absolute;
  top: 400px;
  font-size: 1.2rem;
  opacity: 0.2;
}

#fatoumata:hover{
    opacity: 1;
    background: black;
}